@model TestTaskForVersta24.Models.OrderModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SendersCity" class="control-label"></label>
                <input asp-for="SendersCity" class="form-control" />
                <span asp-validation-for="SendersCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendersAddress" class="control-label"></label>
                <input asp-for="SendersAddress" class="form-control" />
                <span asp-validation-for="SendersAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiversCity" class="control-label"></label>
                <input asp-for="ReceiversCity" class="form-control" />
                <span asp-validation-for="ReceiversCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiversAddress" class="control-label"></label>
                <input asp-for="ReceiversAddress" class="form-control" />
                <span asp-validation-for="ReceiversAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadWeight" class="control-label"></label>
                <input asp-for="LoadWeight" class="form-control" />
                <span asp-validation-for="LoadWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickUpDate" class="control-label"></label>
                <input asp-for="PickUpDate" class="form-control" />
                <span asp-validation-for="PickUpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
