@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3> Orders </h3>
    <p>This app is created for work with orders. So you can watch the list of your orders or create the new one.</p>
</div>
